<nav aria-label="Page navigation example">
  <table class="table">
    <thead>
      <tr>
        <th>UserLine</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Birthday</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th>{{ user.userLine }}</th>
        <td>
          {{ user.name }}
        </td>
        <td>{{ user.surname }}</td>
        <td>
          {{ user.birthday }}
        </td>
      </tr>
    </tbody>

    <tbody></tbody>
  </table>

  <ul class="pagination justify-content-center">
    <li class="page-item">
      <button
        #previousButton
        id="previousButton"
        for="pageItem"
        type="button"
        class="btn btn-light page-link"
        (click)="defaultSelected()"
      >
        Fisrt
      </button>
    </li>

    <li class="page-item">
      <button
        #previousButton
        id="previousButton"
        for="pageItem"
        type="button"
        class="btn btn-light page-link"
        [disabled]="currentPage === 1"
        (click)="previous()"
      >
        Previous
      </button>
    </li>

    <li
      #pageItem
      id="pageItem"
      class="page-item"
      [ngClass]="selectedPage.numberPage - 1 === 0 ? 'd-none' : ''"
      aria-current="page"
    >
      <button
        class="page-link"
        (click)="selectPage(selectedPage.numberPage - 1)"
      >
        {{ selectedPage.numberPage - 1 }}
      </button>
    </li>

    <li #pageItem id="pageItem" class="page-item active" aria-current="page">
      <button class="page-link" (click)="selectPage(selectedPage.numberPage)">
        {{ selectedPage.numberPage }}
      </button>
    </li>

    <li
      #pageItem
      id="pageItem"
      class="page-item"
      aria-current="page"
      [ngClass]="selectedPage.numberPage + 1 > pageSize ? 'd-none' : ''"
    >
      <button
        class="page-link"
        (click)="selectPage(selectedPage.numberPage + 1)"
      >
        {{ selectedPage.numberPage + 1 }}
      </button>
    </li>

    <li class="page-item">
      <button
        #nextButton
        for="pageItem"
        id="nextButton"
        type="button"
        class="btn btn-light page-link"
        (click)="next()"
      >
        Next
      </button>
    </li>
    <li class="page-item">
      <button
        #previousButton
        id="previousButton"
        for="pageItem"
        type="button"
        class="btn btn-light page-link"
        [disabled]="currentPage === pageSize"
        (click)="last()"
      >
        Last
      </button>
    </li>
  </ul>
</nav>
