<nav aria-label="Page navigation example">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">kullanıcılar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Adı</td>
        <td></td>
        <td *ngFor="let user of users">
          {{ user.name }}
        </td>
      </tr>
      <tr>
        <td>Soyadı</td>
        <td></td>

        <td *ngFor="let user of users">
          <div>{{ user.surname }}</div>
        </td>
      </tr>
      <tr>
        <td>Doğum Yılı</td>
        <td></td>

        <td *ngFor="let user of users">
          <div>{{ user.birthday }}</div>
        </td>
      </tr>
    </tbody>
  </table>

  <ul class="pagination justify-content-center">
    <li class="page-item">
      <button
        #previousButton
        id="previousButton"
        for="pageItem"
        type="button"
        class="btn btn-light page-link"
        (click)="defaultSelected()"
      >
        Fisrt
      </button>
    </li>

    <li class="page-item">
      <button
        #previousButton
        id="previousButton"
        for="pageItem"
        type="button"
        class="btn btn-light page-link"
        (click)="previous()"
      >
        Previous
      </button>
    </li>

    <li
      #pageItem
      id="pageItem"
      class="page-item"
      [ngClass]="selectedPage.numberPage - 1 === 0 ? 'd-none' : ''"
      aria-current="page"
    >
      <span class="page-link">{{ selectedPage.numberPage - 1 }}</span>
    </li>
    <li #pageItem id="pageItem" class="page-item active" aria-current="page">
      <span class="page-link">{{ selectedPage.numberPage }}</span>
    </li>
    <li
      #pageItem
      id="pageItem"
      class="page-item"
      aria-current="page"
      [ngClass]="selectedPage.numberPage + 1 > pageSize ? 'd-none' : ''"
    >
      <span class="page-link">{{ selectedPage.numberPage + 1 }}</span>
    </li>

    <li class="page-item">
      <button
        #nextButton
        for="pageItem"
        id="nextButton"
        type="button"
        class="btn btn-light page-link"
        (click)="next()"
      >
        Next
      </button>
    </li>
    <li class="page-item">
      <button
        #previousButton
        id="previousButton"
        for="pageItem"
        type="button"
        class="btn btn-light page-link"
        [disabled]="currentPage === 10"
        (click)="last()"
      >
        Last
      </button>
    </li>
  </ul>
</nav>
